.container-login {
    justify-content: center;
}

.login {
    background-color: #212463;
    width: 494px;
    height: 475px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 32px 96px 68px 96px;
    font-family: 'Open Sans', sans-serif;
}

.login img {
    height: 75px;
    width: auto;

}

.login form {
    margin-top: 40px;
}

.login form input {
    margin-bottom: 16px;
}

.login form button {
    margin-top: 5px;
}